// colors
$app-yellow: #ffe600;
$app-blue: #3483fa;
$app-grey-1: #eeeeee;
$app-grey-2: #999999;
$app-grey-3: #666666;
$app-grey-4: #333333;
$app-white: #ffffff;

//font sizes
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
$font-28: 28px;
$font-46: 46px;

//spacing
$spacing-md: 16px;
$spacing-lg: 32px;

$app-width: 800px;
$app-border-radius: 4px;